/* Estilos para el encabezado deslizante */
.hero {
    position: relative;
    min-height: 500px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation: fadeUp 0.9s ease 0.3s both;
}

.hero picture {
    position: absolute;
    inset: 0;
    /* cubre todo */
    z-index: 0;
    animation: fadeUp 0.9s ease 0.5s both;
}

.hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_texto {
    position: relative;
    z-index: 1;
    margin-right: 120px;
    text-align: center;
    color: #ffffff;
    animation: fadeUp 0.9s ease 0.7s both;
}

.hero_texto h1 {
    animation: fadeUp 0.9s ease 0.9s both;
}

.hero_texto p {
    animation: fadeUp 0.9s ease 1.1s both;
}

/* CELULAR */
@media (max-width: 768px) {
    .hero_texto {
        margin-top: 300px;
        color: #000000;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}